# H1st
https://GitHub.com/H1st-AI/H1st-Django/archive/master.zip

# Data Processing
NumPy >= 1.19.5
Pandas >= 1.2.1
PyArrow >= 2.0.0
SciPy >= 1.6.0

# Machine Learning
SciKit-Learn >= 0.24.1
https://github.com/bitsy-ai/tensorflow-arm-bin/releases/download/v2.4.0/tensorflow-2.4.0-cp37-none-linux_armv7l.whl
    # https://towardsdatascience.com/3-ways-to-install-tensorflow-2-on-raspberry-pi-fe1fa2da9104
Keras >= 2.4.3
# Torch >= 1.7.1

# UI
Streamlit >= 0.74.1
