# H1st
https://GitHub.com/H1st-AI/H1st-Django/archive/master.zip

# Data Processing
NumPy >= 1.19.5
Pandas >= 1.2.1
PyArrow >= 2.0.0
SciPy >= 1.6.0

# Machine Learning
SciKit-Learn >= 0.24.1
TensorFlow >= 1.14.0
Keras >= 2.4.3
# Torch >= 1.7.1

# UI
Streamlit >= 0.74.1
